// --------------------------- REM

@function rem($pixels) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}
	@return $pixels / $base-font-size * 1rem;
}


// --------------------------- ALIGHTEN

$color-steps: (
	-1: 10,
	0: 0,
	1: 10,
	2: 20,
	3: 30,
	4: 40,
	5: 50,
	6: 60,
	7: 70
);

@function alighten($color, $step) {
	@if map-has-key($color-steps, $step) {
		$amount: map-get($color-steps, $step);
		@if $step < 0 {
			@return darken($color, $amount);
		}
		@else {
			@return lighten($color, $amount)
		}
	}
	@warn "Unknown `#{$step}` in $color-steps.";
	@return null;
}